<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Debug" internalLogFile="D:/one roof/aspcore/BareInternationalTest/BareInternationalTest/NlogFilesIssue/nlog-internal.log">
  <targets>
    <!-- Define the file target with custom timestamp format -->
    <target name="file" xsi:type="File"
            fileName="D:/one roof/aspcore/BareInternationalTest/BareInternationalTest/NlogFile/${date:format=ddMMMyyyy_HHmmssfff}_logfile.txt"
            layout="${longdate} ${level} ${message} ${exception}" />

    <!-- Define the database target with the same timestamp format -->
    <target name="database" xsi:type="Database"
            connectionString="Data Source=LAPTOP-P120OTM3;Initial Catalog=sachin;Persist Security Info=True;User ID=sa;Password=1112;"
            commandText="INSERT INTO BareInternationalLogs (LogDate, LogLevel, LogMessage, LogException, FileName) 
                         VALUES (@logDate, @Loglevel, @LogMessage, @LogException, @fileName)">

      <!-- Define the parameters for the INSERT query -->
      <parameter name="@LogDate" layout="${date}" />
      <parameter name="@LogLevel" layout="${level}" />
      <parameter name="@LogMessage" layout="${message}" />
      <parameter name="@LogException" layout="${exception}" />
      <!-- Use the same timestamp format for the FileName parameter -->
      <parameter name="@fileName" layout="${date:format=ddMMMyyyy_HHmmssfff}_logfile.txt" />
    </target>
  </targets>

  <rules>
    <!-- Log info messages to file -->
    <logger name="mycustomLog" minlevel="Info" writeTo="file" />
    <!-- Log everything at level Error and above to both file and database -->
    <logger name="mycustomLog" minlevel="Error" writeTo="file,database" />
  </rules>
</nlog>
