body {
    /*background-color: #f5f5f5;*/
    background-color: #5c142c;
}

.bareinternational-logo {
    width:30%; /* Adjust this as needed */
    height: auto;
}

@media (max-width: 768px) {
    .bareinternational-logo {
        width: 50%;
    }
}

/* Small phones */
@media (max-width: 480px) {
    .bareinternational-logo {
        width: 60%;
    }
}
