<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bare International</title>
    <link rel="icon" href="~/Images/companyLogo.png" type="image/x-icon">
    <link href="~/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/masterlayout.css" rel="stylesheet"/>
    <script src="~/JS/jquery.min.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">
    <div class="justify-content-center mt-5">
        <div class="text-center">
            <img src="~/images/companylogo.png" class="bareinternational-logo"/>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <div class="py-2 mt-auto text-center bg-dark text-white">
        © Copyright 2024 - BARE International
    </div>
</body>
</html>
