USE [sachin]
GO
/****** Object:  Table [dbo].[BareInternationalLogs]    Script Date: 08-11-2024 16:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BareInternationalLogs](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[LogDate] [datetime2](7) NULL,
	[LogLevel] [varchar](50) NULL,
	[LogMessage] [nvarchar](max) NULL,
	[LogException] [nvarchar](max) NULL,
	[FileName] [varchar](300) NULL,
 CONSTRAINT [PK__BareInte__5E548648DC763BB9] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bareInternationalTemplate]    Script Date: 08-11-2024 16:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bareInternationalTemplate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[English] [varchar](300) NULL,
	[Hungarian] [varchar](300) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bareInternationalTemplate] ON 

INSERT [dbo].[bareInternationalTemplate] ([id], [English], [Hungarian], [status]) VALUES (1, N'Account Holder Name', N'Számlatulajdonos neve', 1)
INSERT [dbo].[bareInternationalTemplate] ([id], [English], [Hungarian], [status]) VALUES (2, N'Accounting and Finance', N'Pénzügy', 1)
INSERT [dbo].[bareInternationalTemplate] ([id], [English], [Hungarian], [status]) VALUES (3, N'Active', N'Aktív', 1)
GO
SET IDENTITY_INSERT [dbo].[bareInternationalTemplate] OFF
GO
/****** Object:  StoredProcedure [dbo].[sp_TranslateFromEnglishToHungarian]    Script Date: 08-11-2024 16:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[sp_TranslateFromEnglishToHungarian] --'active'
@requestData VARCHAR(200)
as 
begin
select English as requestText,Hungarian as responseText from bareInternationalTemplate where English=@requestData and status=1;
Select 'success' as status,'' as errorMsg,200 as statusCode
end
GO
